.Phillip-Hodge {
  width: 102px;
  height: 22px;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2c4a71;
}

.philiphodgegmailc {
  width: 143px;
  height: 22px;
  opacity: 0.8;
  font-family: OpenSans;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.83;
  letter-spacing: normal;
  text-align: center;
  color: #9b9b9b;
}

.EDIT {
  width: 26px;
  height: 22px;
  opacity: 0.8;
  font-family: OpenSans;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.83;
  letter-spacing: normal;
  text-align: center;
  color: #9b9b9b;
}
